select {
  appearance: none;
}

header {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem dotted #646cff;
}

.section_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 2.5rem;
  color: #646cff;
}

.form_search {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.form_search input,
.form_search select {
  padding: 0.6rem 1rem;
  border: 1px solid #646cff;
  border-radius: 0.3rem;
}

.div_select_language img,
.div_sort img {
  width: 1rem;
  height: 1rem;
  position: absolute;
}

.div_select_language img {
  margin: 0.6rem 0 0 6.5rem;
}

.div_sort img {
  margin: 0.6rem 0 0 6.2rem;
}
